<!Doctype html>
<html lang="en">
<head>
<!-- Basic Page Needs -->	
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
<!-- Mobile Specific Metas -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<!-- START REQUIRED meta description, USGS favicon, & title -->
<meta name="description" content="ADD BREIF DESCRIPTION HERE">	
<link href="../static/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
<title>{% block title %} - Data Cataloginator{% endblock %}</title>
<!-- END REQUIRED meta description, USGS favicon, & title -->
	
<!-- ADD new scripts and stylesheets here to prevent conflicts with USWDS & USGS required files -->		
	
<!-- START REQUIRED USWDS - USGS Script and stylesheets -->	
<script src="../static/uswds/dist/js/uswds-init.min.js"></script>
<link href="../static/uswds/dist/css/uswds.min.css" rel="stylesheet" />
<link href="../static/stylesheets/common.css" rel="stylesheet" type="text/css" media="screen" />
<link href="../static/stylesheets/custom_fluid.css" rel="stylesheet" type="text/css" media="screen" />
<!-- END REQUIRED USWDS - USGS Script and stylesheets -->	

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
<!-- START USGS DAP Google Tag Manager -->
<!-- USE REQUIRED script for all public applications
     IMPORTANT: REMOVE this script for any logged in pages and/or internal applications  -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKQR8KP');</script> -->
<!-- END USGS DAP Google Tag Manager -->
	
<!-- START SAS Google Tag Manager -->
<!-- USE REQUIRED script for all public and internal applications
     CONTACT Becky Uribe for SAS GTM-ID -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-XXXXXXX');</script> -->
<!-- END SAS Google Tag Manager -->	
   
</head>

<body><!-- start body -->
	
<!-- START REQUIRED USWDS official website of the United States government banner -->
<script src="../static/uswds/dist/js/uswds.min.js"></script>
<script src="../static/js/lunr.js"></script>
	
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img
            class="usa-banner__header-flag"
            src="../static/uswds/dist/img/us_flag_small.png"
            alt="U.S. flag"
          />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">
            An official website of the United States government
          </p>
          <p class="usa-banner__header-action" aria-hidden="true">
            Here’s how you know
          </p>
        </div>
        <button
          class="usa-accordion__button usa-banner__button"
          aria-expanded="false"
          aria-controls="gov-banner"
        >
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-banner__icon usa-media-block__img"
            src="../static/uswds/dist/img/icon-dot-gov.svg"
            role="img"
            alt=""
            aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong> Official websites use .gov </strong>
              <br />
              A <strong>.gov</strong> website belongs to an official government
              organization in the United States.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-banner__icon usa-media-block__img"
            src="../static/uswds/dist/img/icon-https.svg"
            role="img"
            alt=""
            aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong> Secure .gov websites use HTTPS </strong>
              <br />
              A <strong>lock</strong> (
              <span class="icon-lock"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="52"
                  height="64"
                  viewBox="0 0 52 64"
                  class="usa-banner__lock-image"
                  role="img"
                  aria-labelledby="banner-lock-title banner-lock-description"
                  focusable="false"
                >
                  <title id="banner-lock-title">Lock</title>
                  <desc id="banner-lock-description">A locked padlock</desc>
                  <path
                    fill="#000000"
                    fill-rule="evenodd"
                    d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                  /></svg></span>
              ) or <strong>https://</strong> means you’ve safely connected to
              the .gov website. Share sensitive information only on official,
              secure websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>	
<!-- END REQUIRED USWDS official website of the United States government banner -->	
	
	
<!-- START REQUIRED USGS Web Application Header Banner. Only the USGS logo and optional main USGS search bar are allowed in this banner area-->
<header id="navbar" class="header-nav"  role="banner">
  <div class="tmp-container">
      <!-- primary navigation bar -->
  		<!-- USGS search bar - search removed for this template-->
      <div class="header-search">
       <a class="logo-header" href="https://www.usgs.gov/" title="Home">
          <img src="../static/images/logo.png" alt="Home" class="img" border="0" />
        </a>
      </div>
      <!-- end search bar-->
	</div> 
	<!-- end header-container-->
</header>
<!-- END REQUIRED USGS Web Application Header Banner -->


<!-- START USWDS Header: Project Title, Navigations, and Search Form  -->
<div class="usa-overlay"></div>
<section class="tmp-container">	
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
    <div class="usa-navbar">
      <div class="usa-logo"></div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button type="button" class="usa-nav__close">
        <img src="../static/uswds/dist/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button
            type="button"
            class="usa-accordion__button usa-nav__link usa-current"
            aria-expanded="false"
            aria-controls="basic-nav-section-one"
          >
            <span>Site Navigation</span>
          </button>
          <ul id="basic-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="/about"
                ><span>About</span></a
              >
            </li>
            <li class="usa-nav__submenu-item">
              <a href="/about;"
                ><span>Data Model;</span></a
              >
            </li>
            <li class="usa-nav__submenu-item">
              <a href="javascript:void(0);"
                ><span>Example</span></a
              >
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a href="/" class="usa-nav-link"
            ><span>Home</span></a
          >
        </li>
      </ul>
      <section aria-label="Search component">
        <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="search-field">Search</label>
          <input
            class="usa-input"
            id="search-field"
            type="search"
            name="search"
          />
          <button class="usa-button" type="submit">
            <img
              src="../static/uswds/dist/img/usa-icons-bg/search--white.svg"
              class="usa-search__submit-icon"
              alt="Search"
            />
          </button>
        </form>
      </section>
    </nav>
  </div>
</header>
</section>
<!-- END USWDS Header: Project Title, Navigations, and Search Form  -->
	
	
<!-- START REQUIRED USGS #maincontent -->	
<div id="maincontent"> 	
		
	<!-- START customized USWDS USWDS design, utilities, and components -->
	<main id="main-content">
	
	<section class="usa-section">
		<div class="usa-prose">
			
			<h1>Data Cataloginator</h1>

            {% block content %}
            <!-- Default content can go here -->
            {% endblock %}
			
		</div>
	</section>

	</main>	
	<!-- END customized USWDS USWDS design, utilities, and components -->
		
			
</div>
<!-- END REQUIRED USGS #maincontent-->

	
<!-- START REQUIRED USGS Footer -->
<footer class="footer">
	<div class="tmp-container">
		<!-- .footer-wrap -->
			<!-- .footer-doi -->
			<div class="footer-doi">
				<!-- footer nav links -->
				<ul class="menu nav">
					<li class="first leaf menu-links menu-level-1"><a href="https://www.doi.gov/privacy">DOI Privacy Policy</a></li>
					<li class="leaf menu-links menu-level-1"><a href="https://www.usgs.gov/policies-and-notices">Legal</a></li>
					<li class="leaf menu-links menu-level-1"><a href="https://www.usgs.gov/accessibility-and-us-geological-survey">Accessibility</a></li>
					<li class="leaf menu-links menu-level-1"><a href="https://www.usgs.gov/sitemap">Site Map</a></li>
					<li class="last leaf menu-links menu-level-1"><a href="https://answers.usgs.gov/">Contact USGS</a></li>
				</ul>
				<!--/ footer nav links -->      
			</div>
			<!-- /.footer-doi -->

			<hr>

		<!-- .footer-utl-links -->
		<div class="footer-doi">
			<ul class="menu nav">
				<li class="first leaf menu-links menu-level-1"><a href="https://www.doi.gov/">U.S. Department of the Interior</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.doioig.gov/">DOI Inspector General</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.whitehouse.gov/">White House</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.whitehouse.gov/omb/management/egov/">E-gov</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.doi.gov/pmb/eeo/no-fear-act">No Fear Act</a></li>
				<li class="last leaf menu-links menu-level-1"><a href="https://www.usgs.gov/about/organization/science-support/foia">FOIA</a></li>
			</ul>
		</div>			
	</div>
		<!-- /.footer-wrap -->	
</footer>
<!-- END REQUIRED USGS Footer -->
	
	
<!-- START USGS DAP Google Tag Manager (noscript) -->
<!-- USE REQUIRED script for all public applications
     IMPORTANT: REMOVE this script for any logged in pages and/or internal applications  -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKQR8KP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
<!-- END USGS DAP Google Tag Manager (noscript) -->
	
<!-- START SAS Google Tag Manager (noscript) -->
<!-- USE REQUIRED script for all public and internal applications
     CONTACT Becky Uribe for SAS GTM-ID -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
<!-- END SAS Google Tag Manager (noscript) -->	
  
</body> <!-- end body -->
</html>
